@import url('https://fonts.googleapis.com/css?family=Righteous|Pridi:200,300,400,500,600,700|Rasa:300,400,500,600,700|Teko:300,400,500,600,700');

body {
	background-color: #000000;
	background-size: cover;
	line-height: 20px;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Teko', serif;
	font-weight: 400;
	letter-spacing: .1em;
}

li a:hover {
	background-color: #000;
	color: #2089FF;
	border-top-left-radius: 5px;
	border-bottom: 2px solid #17f2a7;
}

p {
	color: #fff;
	font-family: 'Rasa', serif;
	font-weight: 300;
	line-height: 1.5em;
}

p a {
	color: #fff;
	text-decoration: none; 
}

p a:hover {
	color:#17f2a7;
	text-decoration: none;
}

h1, h2, h3, h4, ul, nav {
	color: #fff;
}

h1, h4 {
	font-family: 'Righteous', cursive, 'sans serif';
	letter-spacing: .1em;
	color: #2089FF;
}

h1 {
	font-size: 2em;
}

h4 {
	font-size: 1.25em;
	margin-bottom: .2em;
}

h3 {
	font-size: 1.7em;
	color: #fff;
	font-family: 'Rasa', serif;
	font-weight: 600;
}

nav {
	text-align: center;
	height: 100%;
	width: 70%;
	position: relative;
	float: left;
	display: block;
}

header {
	width: 100%;
	height: 10%;
	border-bottom: 1px solid #1058E8;
	background-color: #333;
	left: 0;
    background: -webkit-linear-gradient(#333, #111); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333, #111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333, #111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333, #111); /* Standard syntax */
}

aside {
	border-bottom: 10px solid #0A066F;
	border-top-left-radius: 15px;
}

.slogan {
	position: absolute;
	left: 5%;
	top: 40%;
	width: 40%;
	text-align: center;
}

.vision {
	position: absolute;
	right: 0%;
	top: 15%;
	width: 25%;
	background: rgba(0,0,0,.7);
	padding: 20px;
	font-family: Courier;
}

.hero {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://wenjenaz.github.io/unit_3/images/hero_bw.png);
}

.offerings {
	width: 100%;
	height: 100%;
	background-color: #0A066F;
	border-top: #1058E8 1px solid;
	text-align: center;
}

img, .equip_text {
	width: 120px;
	height:200px;
	float: left;
}

.logo {
	position: relative;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	float: left;
	display: inline;
	background-color: #333;
	border-right: #666 1px solid;
}

.nav-container {
	padding-top: 32px;
	float: left;
	position: relative;
}

.equip {
	width: 100%;
	padding: 0 0 0 25%;
}

.equip li  {
	padding: 1%;
}

